body {
  margin: 0%;
  background-color: #0c1027;
}
/* ------------------------------------------------------------------- */
/* nav menu */
nav {
  background-color: #0c1027;
  margin: auto;
  width: 100vw;
  position: fixed;
}
/* centred nav elements in desktop view */
nav li {
  margin: auto;
}

/* dropdown rules */

.bars {
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
}
.dropdown-menu {
  display: none;
}
.dropdown-list {
  display: none;
  background-color: #0c1027;
  position: relative;
  width: auto;
  margin-left: 80vw;
  text-align: left;
}
.dropdown-only {
  padding: 5px;
  margin-top: 5px;
}
/* hover */
.dropdown-menu:hover .dropdown-list {
  display: block;
}

/* normal nav items */

.horizontal-list {
  margin: 0%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

/* --------------------------------------------------------------------- */

/* home icon */
.home {
  margin-right: 2vw;
  margin-left: 3vw;
}
.horizontal-list img {
  height: 2rem;
  width: 4rem;
}

/* favourites properties */

/* search properties */
.search {
  margin-right: -5vw;
  margin-left: 40vw;
}
.search-bar input[type="text"] {
  width: 15rem;
  height: 1.5rem;
  padding: 0%;
  border-radius: 5px;
  background-color: #202d73;
}
.search-bar {
  position: relative;
}
.search-bar i {
  color: lightgrey;
}
.search-icon {
  position: absolute;
  top: 0.4rem;
  left: 1%;
}
.mic-icon {
  position: absolute;
  top: 0.4rem;
  right: 1%;
}
input[type="text"]::placeholder {
  padding-left: 1.5vw;
  color: lightgrey;
}
/* notification properties */
.notification {
  margin-right: 0vw;
  margin-left: 15vw;
}
.notification-container {
  height: auto;
  width: auto;
  position: relative;
}
.notification-dot {
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  margin-left: -10px;
}

/* account icon */
.account {
  margin-right: 2vw;
  margin-left: 2vw;
}

.account img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

/* common nav rules */
.text-right {
  text-align: right;
}
.no-list-style {
  list-style: none;
}

.no-list-style a {
  text-decoration: none;
  color: white;
}

/* ----------------------------------------------------------------------- */

/* main container */
main {
  padding-top: 4.25rem;
}
.main-container {
  display: flex;
  flex-direction: row;
  background-color: #0c1027;
  padding-top: 50px;
  margin: 0% 5% 0% 5%;

  /* height: 75vw; */
  height: auto;
  width: 90%;
}

/* queue properties */

.queue-header {
  width: 100%;
  height: 5rem;
  display: flex;

  justify-content: space-between;
}

.queue-header h1 {
  width: 50%;
  color: white;
}
.queue-header select {
  width: 50%;
}

/* queue items */

.queue-items li {
  list-style: none;
}

/* queue */
.queue-container {
  height: inherit;
  width: 25vw;
  background-color: #0c1027;
}
/* ordered list rules */
ol {
  width: 30vw;
  list-style: none;
  min-width: 16rem;
  max-width: 16rem;
}
ol li {
  height: 4rem;

  /* border: 1px solid red; */
  display: flex;
  background-color: #0c1027;
}

li span {
  display: inline-block;
}

/* queue song count rules */
.queue-song-count {
  padding: 0 5%; /* 15% */
}
.queue-song-count span {
  color: lightgray;
  padding: 150% 0;
}

/* image rules */
.queue-song-image-container {
  padding: 0% 5%; /* 45% */
}

img.queue-song-banner {
  height: 3rem;
  width: 3rem;
  padding: 12.5% 0;
  border-radius: 3px;
}

/* song info rules */
.queue-song-info-container {
  display: inline-block;
  padding: 0% 20% 0% 5%; /* 70% */
}

.queue-song-info {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.3rem;
  color: white;
}

/* like button rules */
.like-container {
  padding: 0 5% 0 0;
}
.song-like {
  padding: 1.5rem 0;
  color: lightgray;
}

.song-like:hover {
  color: red;
}
/* different playlists on homepage are displayed here. */

.song-list-container {
  height: inherit;
  width: 75vw;
  margin-bottom: 100px;
}

.new-release-container {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding-bottom: 40px;
}

.new-release-container img {
  height: auto;
  width: 33%;
}

.new-release-container img:hover {
  transform: scale(1.5);
  transition: 0.4s ease-in-out;
}

#latest-release-1:hover {
  transform: translateX(25%) scale(1.5);
}

#latest-release-3:hover {
  transform: translateX(-25%) scale(1.5);
}

/* header properties */
.section-headers {
  color: whitesmoke;
}

/* latest container properties */
.latest-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #0c1027;
  flex-wrap: wrap;
}

.latest-song-container {
  display: flex;
  flex-wrap: wrap;
}

/* latest song name */
.latest-song-name {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  padding: 10px 0px;
}
/* latest song image */
.latest-song-image {
  height: 80px;
  width: 80px;
  border-radius: 2px;
}
/* latest song info */
.latest-song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 25%;
  color: whitesmoke;
}
/* latest song options */
.latest-song-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
  color: lightgrey;
}
/* -------------------------------------------------------------------------------------- */
/* popular artists */
.popular-artist-container {
  display: flex;
  flex-direction: column;
}
.popular-artists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
figure {
  display: inline-block;
  text-align: center;
  margin: 3px;
}
figure img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.hover-fade img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  overflow: hidden;
  opacity: 40%;
}
figcaption {
  color: whitesmoke;
}
/* ------------------------------------------------- */

/*  genre properties */

/* latest english and hindi container */
.latest-english-container {
  display: flex;
  flex-direction: column;
}
.latest-english-songs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.latest-english-songs img {
  border-radius: 3px;
}
.latest-english-info div {
  font-size: small;
  text-align: start;
}
/* ---------------------------------------------------------------------- */

/* music player controls at bottom */
.music-player-options {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  bottom: 0;
  background-color: antiquewhite;
  position: fixed;
  margin: 0%;
  left: 0%;
}

.song-info {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
}
.extra-features {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
}
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* playlist.html CSS properties */

/* ---------------------------------------------------------------------- */

/* media queries */

@media screen and (max-width: 600px) {
  .dropdown-menu {
    display: block;
  }
  .horizontal-list {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .horizontal-list {
    /* display: block; */
  }
}
