html {
  background-color: black;
}

/* music player controls at bottom */
.music-player-options {
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: 0;
  background-color: antiquewhite;
  position: fixed;
  margin: 0%;
}

.song-info {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
}
.extra-features {
  padding: 0px 80px;
  display: flex;
  justify-content: center;
}
